@{
    Layout = "/Layout/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeIndex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        h1 {
            display: block;
            color: white;
            font-size: 60px;
            position: relative;
            left: 25%;
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>Walcome to my movis page</h1>
</body>
</html>
